@font-face {
  font-family: Baron;
  src: url(/assets/Baron/BaronNeue-Regular.otf);
}


* {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

html { font-size: 62.5%; }

body {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: #FFFFFF;
    background: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Baron", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
}

h1 { font-size: 12.8rem; }
h2 { font-size: 4.8rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 1.8rem; }

a {
    color: #FFFFFF;
    text-decoration: none;

    transition: all 300ms;
    -o-transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
}

a:hover { color: #7C848E; }

a.btn {
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 3px;

    transition: all 300ms;
    -o-transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
}

a.btn:hover { background-color: #FFFFFF; color: #7C848E; }


ul.inline li {
    display: inline-block;
}

ul.inline li:first-child {
    margin-left: 0;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}


/** CONTAINERS **/

.content-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.image-wrapper {
    text-align: center;
    margin: auto;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


/** HEADER **/


.site-header {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    padding: 32px;
}

.work .site-header {
    position: initial;
}

.nav-wrapper * {
    margin: 0;
}

.nav-logo,
.nav-list {
    margin: auto;
    text-align: center;
}

.nav-logo {
    line-height: 0;
    margin-bottom: 32px;
}

.nav-logo a {
    display: inline-block;
    width: 188px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url('../images/logo.png');
    background-size: 188px 60px;
    background-position: center center;
}

.nav-list li {
    margin-left: 48px;
    font-family: "Baron", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
}

.nav-list li a {
    transition: all 300ms;
    -o-transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
}


/** FOOTER **/

.site-footer {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    padding: 32px;
}

.tagline-wrapper,
.links-wrapper {
    display: inline-block;
}

.tagline-wrapper *,
.links-wrapper * {
    margin: 0;
}

.links-wrapper {
    float: right;
}

.links-list li {
    margin-left: 24px;
}

.fa {
  font-size: 18px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}


/** HOME **/

.feature-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

.feature-wrapper video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.feature-details {
    position: absolute;
    width: 100%;
    top: 45%;
}

.feature-client {
    line-height: 120px;
    margin: 0;
}

.feature-title {
    font-size: 32px;
    margin-top: -16px;
    margin-bottom: 0;
}


/* PHABLET */
@media (max-width: 550px) {
    .no-mobile {
        display: none !important;
    }

    .feature-details {
        top: initial;
        bottom: 32px;
    }

    .feature-client {
        font-size: 32px;
        line-height: initial;
    }

    .feature-title {
        font-size: initial;
        margin-top: 0;
    }

}



.project-list {
    position: relative;
    width: 100%;
}

.project-wrapper {
    position: relative;
    float: left;
    width: 33%;
    height: 200px;
    text-align: center;
}

.project-wrapper video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.project-details {
    position: absolute;
    width: 100%;
    bottom: 32px;
}

.project-client {
    font-size: 24px;
    margin: 0;
}

.project-title {
    margin-top: -4px;
    margin-bottom: 0;
}
