body {
    font-family: "Muli", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: #4A4A4A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.0rem; }

p { color: #9099A3; }
a { color: #EF6649; text-decoration: none; font-family: "Montserrat";}

hr { border-color: #E6E5E6; }

.btn {
    display: inline-block;

    border-radius: 3px;
    padding: 6px 20px;

    background: #EF6649;
    box-shadow: 0 3px 0 0 #C1533B;

    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    color: white;
}

.btn-nav {
    padding: 6px 10px;
    border: 2px solid #9099A3;
    border-radius: 3px;
}

.btn-nav:hover {
    border-color: #EF6649;
}

.container.narrow { max-width: 620px; }
.container.narrower { max-width: 460px; }

.image-wrapper {
    text-align: center;
    margin: auto;
}

.left-align {
    text-align: left;
}

/** HEADER **/

.site-header {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo {
    width: 110px;
}

.nav-wrapper {
    padding-top: 20px;
    text-align: center;
}

.nav-list {
    list-style: none;
    font-size: 1.2rem;
}

.nav-list li {
    display: inline;
    margin-left: 30px;
    margin-bottom: 0;
}

.nav-list li:first-child {
    margin-left: 0;
}

.nav-list li a {
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #9099A3;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-list li a:hover {
    color: #EF6649;
}

/* when greater than 650 (between phablet and tablet) */
@media (min-width: 650px) {

    .logo-wrapper {
        float: left;
    }

    .nav-wrapper {
        float: right;
        text-align: inherit;
    }

}

/** BODY **/

.section {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section.lead {
    padding-bottom: 0;
}

.section.bg {
    background-color: #F7F7F7;
}

.figure {
    padding-top: 10px;
    padding-bottom: 10px;
}

.video-list,
.credits-list {
    margin-top: 30px;
}

.video-wrapper,
.crew-wrapper,
.credit-wrapper {
    margin-bottom: 50px;
    color: #9099A3;
}

.video-wrapper h3,
.crew-wrapper h3,
.credit-wrapper h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

.video-thumb {
    -webkit-filter: grayscale(1) opacity(.8);
    filter: grayscale(1) opacity(.8);
}

.video-thumb:hover {
    cursor: pointer;
}

.video-wrapper:hover .video-thumb {
    -webkit-filter: none;
    filter: none;
}

.video-wrapper h3 a {
    color: inherit;
}

.video-wrapper:hover h3 a {
    color: #EF6649;
}

.video-wrapper .more {
    visibility: hidden;
    font-family: "Muli", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.video-wrapper:hover .more {
    visibility: visible;
}

.quote {
    font-size: 2.0rem;
    font-style: italic;
}

.credit-list {
    margin-top: 10px;
    list-style: none;
}

.credit-list li {
    margin-bottom: 5px;
}



/** FOOTER **/

.site-footer {
    font-size: 1.0rem;
    margin-top: 100px;
}

.bigfooter {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.feet-wrapper {
    margin-top: 50px;
    text-align: center;
}

.foot {
    display: inline-block;
    margin-left: 80px;
    vertical-align: top;
    text-align: left;
}

.foot:first-child {
    margin-left: 0;
}

.foot-title {
    text-transform: uppercase;
}

.foot-list {
    margin-bottom: 0;
    list-style: none;
}

.foot-list li {
    margin-bottom: 5px;
}

.foot-list li a {
    font-family: inherit;
    color: inherit;
}

.littlefooter {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #E6E5E6;
}

.copyright {
    margin: 0;
}

/* when greater than 650 (between phablet and tablet) */
@media (min-width: 650px) {

    .feet-wrapper {
        float: right;
        margin-top: 0;
        text-align: inherit;
    }

}



/* BLOG */

.blog-header {
    margin-top: 70px;
}

.blog-body {
    margin-top: 100px;
    margin-bottom: 100px;
}

.post-wrapper {
    margin-bottom: 70px;
    border-bottom: 3px solid #E6E5E6;
}

.post-wrapper h1 {
    text-align: center;
}

.post-wrapper h1 a {
    color: inherit;
}

.post-body {
    margin-top: 25px;
    margin-bottom: 25px;
}

.post-body .image-wrapper {
    margin-bottom: 20px;
}

.post-footer {
    width: 100%;
}

.post-footer .notes,
.post-footer .buttons {
    float: left;
}

.post-footer .date {
    float: right;
    text-align: right;
}

.blog-nav {
    text-align: center;
    padding-left: 10px;
}

.blog-nav .separator {
    margin-left: 20px;
    margin-right: 20px;
    color: #EF6649
}

.buttons {
    margin-bottom: 0;
}

.buttons li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
}

ol.notes li a {
    font-family: inherit;
}

ol.notes {
    list-style:none;
}

ol.notes li {
    margin-bottom: 10px;
    color: #9099A3;
}

ol.notes li img.avatar {
    display: none;
}