---
layout: default
title: We make commercials
class: home
---

<div class="welcome">
    <div class="welcome-text">
        <div class="container narrow">
            <h1>We make commercials</h1>
        </div>
    </div>
    <div class="welcome-scroll">
        <div class="container narrow">
            <p>Scroll down to see more of what we do</p>
            <svg class="arrow"><path class="a1" d="M0 0 L10 10 L20 0"></path></svg>
        </div>
    </div>
</div>

<div class="welcome-bottom"></div>

<div class="container narrower elevator" id="elevator">

    <h1>We help businesses show off their products with attention-grabbing videos.</h1>
    <h1>Like these.</h1>

</div>

<div class="container project-set">

    {% for post in site.posts %}

        <div class="project-wrapper">
            <img src="{{ site.baseurl}}/images/thumbnails/{{ post.video_thumb }}" rel="{{ post.video_id }}" class="video-thumb u-max-full-width"/>
            <div class="project-details" style="border-color: #{{ post.client_color }}">
                <!--<div class="project-logo-wrapper" style="background-color: #{{ post.client_color }}"></div>
                <div class="project-text">-->
                    <h3>{{ post.client }}</h3>
                    <p><a class="secondary" href="{{ site.baseurl }}{{ post.url }}">"{{post.video_title}}"</a></p>
                <!--</div>-->
            </div>
        </div>

        {% if forloop.index == 8 %}
            </div>
                <div class="container recommendation">

                    <div class="container narrow">
                        <p class="quote">"Working with Cole and the Vitascope Arts team met and exceeded my original expectations. We are extremely pleased with our video..."</p>
                        <p class="attribution">Hunter Hogarth, <a href="http://www.simpliflow.com" target="_blank">Simpliflow Sports</a></p>
                    </div>

                </div>
            <div class="container project-set">
        {% endif %}

    {% endfor %}

</div>


<div class="container narrower contact" id="contact">

        <h2>Let's work together!</h2>
        <p>Tell us a little about what you are looking for, when you want it, and your budget and we'll see what we can do. Just send an email to <a href="{{ site.mailto }}">{{ site.email }}</a>.</p>

</div>
