<footer class="site-footer">
    <div class="content-wrapper">

        <div class="tagline-wrapper">
            <p>We make commercials</p>
        </div>

        <div class="links-wrapper">
            <ul class="links-list">
                <li><a class="icon" href="http://www.twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></li>
                <li><a class="icon" href="http://www.twitter.com/{{ site.twitter_username }}" target="_blank">Facebook</a></li>
                <li><a class="icon" href="http://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a></li>
            </ul>
        </div>

    </div>
</footer>