<script>
    $(document).ready(function () {

        var cycle = function(backwards) {
            var slideshow = $('#slideshow');
            var outgoing = slideshow.children().first();
            var incoming = backwards ? slideshow.children().last() : slideshow.children().eq(1);

            outgoing.fadeOut(400, function() {
                backwards ? slideshow.prepend(incoming) : slideshow.append(outgoing);

                //outgoing.find("video").remove();
                //incoming.prepend(incoming.data("video"));

                var video = incoming.find("video").get(0);
                if (video) {
                    //video.pause();
                    video.currentTime = 0;
                    //video.play();
                }

                incoming.fadeIn(400);
            });
        };

        var cyclePrev = function() {
            cycle(true);
            clearInterval(cycleTimer);
        };

        var cycleNext = function() {
            cycle(false);
            clearInterval(cycleTimer);
        };

        var cycleTimer = setInterval(function() {
            cycle(false);
        }, 6000);


        $(".slide-control.prev").click(cyclePrev);
        $(".slide-control.next").click(cycleNext);

        $(".slideshow").swiperight(cyclePrev);
        $(".slideshow").swipeleft(cycleNext);

        $(".slide-details").modalVideo({channel:'vimeo'});
        $(".project-wrapper").modalVideo({channel:'vimeo'});
    });
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38944056-4', 'auto');
    ga('send', 'pageview');
</script>