<footer class="site-footer">

    <div class="bigfooter u-cf">
        <div class="container">

            <div class="logo-wrapper image-wrapper">
                <a href="{{ site.baseurl }}/"><img src="images/logo.png" alt="Vitascope Arts Logo" class="logo u-max-full-width"></a>
            </div>

            <div class="feet-wrapper">
                <div class="foot" id="site">
                    <h4 class="foot-title">Site Map</h4>
                    <ul class="foot-list">
                        <li><a href="{{ site.baseurl }}">Home</a></li>
                        <li><a href="{{ site.baseurl }}/about.html">About Us</a></li>
                        <li><a href="{{ site.baseurl }}/work.html">Our Work</a></li>
                        <li><a href="{{ site.blogurl }}">Blog</a></li>
                    </ul>
                </div>

                <div class="foot" id="social">
                    <h4 class="foot-title">#Social</h4>
                    <ul class="foot-list">
                        <li><a href="http://www.twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></li>
                        <li><a href="http://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a></li>
                        <li><a href="http://www.youtube.com/channel/{{ site.youtube_username }}" target="_blank">YouTube</a></li>
                    </ul>
                </div>

                <div class="foot" id="contact">
                    <h4 class="foot-title">Contact</h4>
                    <ul class="foot-list">
                        <!--<li>123 Main St <br> Suite 34 <br> Santa Monica, CA 90405</li>-->
                        <li><!--<br> {{ site.phone }} <br>--> <a href="{{ site.mailto }}">{{ site.email }}</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="littlefooter">
        <div class="container">

            <div class="copyright-wrapper">
                <p class="copyright">Copyright &copy; 2015 Vitascope Arts</p>
            </div>

        </div>
    </div>

</footer>