<footer class="site-footer">

    <div class="container">
        <div class="copyright-wrapper">
            <p>Copyright &copy; 2015 Vitascope Arts</p>
        </div>

        <div class="contact-wrapper">
            <ul class="contact-list">
                <li><a href="{{ site.mailto }}">Email</a></li>
                <li><a href="http://www.twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></li>
                <li><a href="http://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>

</footer>