
<header class="site-header clearfix">
    <div class="content-wrapper">

        <nav class="nav-wrapper">
            <div class="nav-logo"><a href="{{ site.baseurl }}/"></a></div>

            <ul class="nav-list inline">
                <li><a href="{{ site.baseurl }}/work">Work</a></li>
                <li><a href="{{ site.baseurl }}/originals">Originals</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <li><a href="{{ site.mailto }}">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>
