
<header class="site-header clearfix">
    <div class="content-wrapper">

        <nav class="nav-wrapper">
            <div class="nav-logo"><a href="{{ site.baseurl }}/"></a></div>

            <ul class="nav-list">
                <li class="full" ><a href="{{ site.baseurl }}/projects">Our Work</a></li>
                <li class="full" ><a href="{{ site.baseurl }}/about">About Us</a></li>
                <li class="full" ><a href="{{ site.blogurl }}">The V.A. Blog</a></li>

                <li class="mobile" ><a href="{{ site.baseurl }}/projects">Work</a></li>
                <li class="mobile" ><a href="{{ site.baseurl }}/about">About</a></li>
                <li class="mobile" ><a href="{{ site.blogurl }}">Blog</a></li>

                <li><a class="btn" href="{{ site.mailto }}">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>
