
<header class="site-header u-cf">
    <div class="container">

        <div class="logo-wrapper image-wrapper">
            <a href="{{ site.baseurl }}/"><img src="images/logo.png" alt="Vitascope Arts Logo" class="logo u-max-full-width"></a>
        </div>

        <nav class="nav-wrapper">
            <ul class="nav-list">
                <li><a href="{{ site.baseurl }}/about.html">About Us</a></li>
                <li><a href="{{ site.baseurl }}/work.html">Our Work</a></li>
                <li><a href="{{ site.blogurl }}">Blog</a></li>
                <li><a href="{{ site.mailto }}">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>
