---
layout: default
---

<div class="section no-padding-b">
    <div class="container narrower">

        <h1>{{page.client}}</h1>
        <h2>"{{page.video_title}}"</h2>

    </div>
</div>

<div class="section">
    <div class="container narrower">

        <img src="http://img.youtube.com/vi/{{page.video_id}}/hqdefault.jpg" rel="{{page.video_id}}" class="video-thumb u-max-full-width"/>
        <div class="item-set">
            {{content}}
        </div>

    </div>
</div>

<hr class="container narrow">

<div class="section" id="contact">
    <div class="container narrower">

        <h2>Need a video?</h2>
        <p>We'd love to make you one. So drop us a line and let's get started. Just send an email to <a href="{{ site.mailto }}">{{ site.email }}</a>.</p>

    </div>
</div>
