---
layout: default
class: project
---


<div class="page-header">
    <div class="content-wrapper">

        <h1>{{ page.client }} <br> {{ page.video_title }}</h1>

    </div>
</div>

<div class="page-body">
    <div class="content-wrapper tight">

        <div class="body-text">
            <div class="video-wrapper">
                <iframe src="https://player.vimeo.com/video/{{ page.video_id }}?title=0&byline=0&portrait=0" class="u-max-full-width" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            {{ content }}
        </div>

    </div>
</div>

<div class="page-footer">
    <div class="content-wrapper">

        <h2>Need a video?</h2>
        <p>We'd love to make you one. So drop us a line and let's get started. Just send an email to <a href="{{ site.mailto }}">{{ site.email }}</a>.</p>

    </div>
</div>